* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-direction: row-reverse;
}

#container input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
}

#container input[type='radio']:before {
  content: '\f005';
  font-family: fontAwesome;
  font-size: 5rem;
  transition: 0.5s;
  cursor: pointer;
}

#container input[type='radio']:hover,
#container input[type='radio']:hover ~ input[type='radio'],
#container input[type='radio']:checked,
#container input[type='radio']:checked ~ input[type='radio'] {
  color: #dddd00;
}

button {
  display: none;
  margin: auto;
  width: fit-content;
  background: transparent;
  border: none;
  font-size: 1rem;
  color: #e1e1e1;
  cursor: pointer;
  border-bottom: 1px solid #e1e1e1;
}

section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
